body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 20px;
    background-color: #ffffff;
}

.header-logo img {
    max-width: 100px;
    height: auto;
}

.header-content {
    display: flex;
    justify-content: flex-end;
}

.header-nav-wrap {
    display: flex;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-nav li {
    display: inline-block;
}

.header-nav li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.header-nav li a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.about-text {
    max-width: 60%; 
    font-size: 1.5rem; 
    line-height: 1.6; 
    font-weight: bold; 
}



.about-image {
    margin-left: 50px; 
}

.profile-image {
    max-width: 150px; 
    height: auto;
    border-radius: 50%; 
}


.contact-social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.contact-button {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 20px;
}

.contact-button:hover {
    transform: scale(1.05);
}


.hero-social {
    list-style: none;
    display: flex;
    gap: 15px; 
    padding: 0;
    margin: 0;
}

.hero-social li {
    display: inline-block;
}

.hero-social img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.hero-social img:hover {
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column; 
        text-align: center;
    }

    .about-text {
        max-width: 100%;
    }

    .about-image {
        margin-left: 0;
        margin-top: 20px; 
    }
}


.skills-section {
    background-color: #ffffff;  
    color: #000000;  
    padding: 80px 20px;  
    text-align: center;
}

.skills-heading {
    font-size: 3rem;
    color: #ec4141;
    margin-bottom: 20px;
    font-family: 'Courier New', monospace;
}

.skills-intro {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #bfb4b4;
}

.skills-intro span {
    color: #000000;  
}


.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.skill-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 22%;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.skill-card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #000000; 
}

.skill-card ul {
    list-style-type: none;
    padding: 0;
}

.skill-card ul li {
    margin: 8px 0;
    font-size: 1rem;
    color: #000000;  
}


.skill-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; 
}


@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 80%;
        margin-bottom: 20px;
    }
}


.experience-section {
    padding: 80px 20px;
    background-color: #fff;
    text-align: left;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 50px;
}

.experience-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience-item {
    display: flex;
    align-items: flex-start;
    
}

.experience-icon img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.experience-content h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

.experience-content .experience-date {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 10px;
    flex-grow: 1;
}

.experience-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-content ul li {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #000000;
}


.badge {
    background-color: #007bff;
    color: rgb(0, 0, 0);
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .experience-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-icon img {
        margin-bottom: 10px;
    }

    .experience-content {
        text-align: left;
    }
}


.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    justify-content: center; 
    gap: 40px; 
}
.project-image {
    flex: 1; 
    text-align: center; 
}

.project-image img {
    max-width: 100%; 
    object-fit: contain; 
}

.project-details {
    flex: 1; 
    max-width: 450px;
    text-align: left;
}

.project-details h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000000;
}

.project-details p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
}

.project-buttons {
    display: flex;
    gap: 15px;
}

.project-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
}

.code-btn {
    background-color: #000000;
    color: #fff;
}

.demo-btn {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

.project-btn:hover {
    transform: scale(1.05);
}



.contact-section {
    background-color: rgb(255, 255, 255); 
    padding: 60px 20px;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0); 
    margin-bottom: 20px;
}

.contact-info {
    display: inline-block;
    background-color: rgb(255, 255, 255); 
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 1.2rem;
    color: rgb(0, 0, 0); 
}

.contact-info p {
    margin: 15px 0;
}

.contact-info a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: rgb(236, 223, 204); 
}

.contact-info p:hover{ 
    color: rgb(236, 223, 204); 
    background-color: black;
}



.dark-mode {
    background-color: rgb(0, 32, 63);
    color: rgb(236, 223, 204);
}

.dark-mode header .header-container {
    background-color: rgb(0, 32, 63); 
}

.dark-mode .header-nav li a {
    color: rgb(236, 223, 204); 
}

.dark-mode .header-nav li a:hover {
    background-color: rgb(236, 223, 204); 
    color: rgb(0, 32, 63); 
}


.dark-mode .contact-button {
    background-color: rgb(0, 48, 89); 
    color: rgb(236, 223, 204);
}

.dark-mode .contact-button:hover {
    background-color: rgb(236, 223, 204); 
    color: rgb(0, 48, 89);
}


.dark-mode .about-section {
    background-color: rgb(0, 32, 63);
}

.dark-mode .about-text h2 {
    color: rgb(236, 223, 204); 
}

.dark-mode .about-image img {
    border: 3px solid rgb(105, 117, 101); 
}


.dark-mode .skills-section {
    background-color: rgb(0, 32, 63); 
    color: rgb(236, 223, 204);
}

.dark-mode .skill-card {
    background-color: rgb(0, 48, 89); 
}

.dark-mode .skill-card h3 {
    color: rgb(236, 223, 204); 
}

.dark-mode .skill-card p {
    color: rgb(236, 223, 204); 
}

.dark-mode .skill-card ul li {
    color: rgb(236, 223, 204); 
}


.dark-mode .projects-section {
    background-color: rgb(0, 32, 63); 
}

.dark-mode .project-item {
    background-color: rgb(0, 48, 89); 
}

.dark-mode .project-details h3 {
    color: rgb(236, 223, 204); 
}

.dark-mode .project-details p {
    color: rgb(236, 223, 204); 
}

.dark-mode .project-buttons {
    background-color: rgb(0, 48, 89); 
    color: rgb(236, 223, 204);
}

.dark-mode .project-btn {
    background-color: rgb(0, 32, 63); 
    color: rgb(236, 223, 204);
}

.dark-mode .code-btn {
    background-color: rgb(236, 223, 204); 
    color: rgb(0, 32, 63);
}
.dark-mode .demo-btn {
    border: 2px solid rgb(0, 32, 63);
}


.dark-mode .experience-section {
    background-color: rgb(0, 32, 63); 
    color: rgb(236, 223, 204);
}
.dark-mode .experience-content ul li {
    color: rgb(236, 223, 204); 
}
.dark-mode .experience-content h3{
    color: rgb(236, 223, 204); 
}
.dark-mode .experience-date{
    color: rgb(236, 223, 204); 
}
.dark-mode .section-title{
    color: rgb(236, 223, 204); 
}
.dark-mode .contact-section{
    background-color: rgb(0, 32, 63); 
    color: rgb(236, 223, 204);
}
.dark-mode .contact-section h2 {
    font-size: 2.5rem;
    color: rgb(236, 223, 204); 
    margin-bottom: 20px;
}

.dark-mode .contact-info {
    background-color: rgb(0, 32, 63); 
    color: rgb(236, 223, 204);
}

.dark-mode .contact-info a {
    color: rgb(236, 223, 204); 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.dark-mode .contact-info a:hover {
    color: rgb(0, 32, 63); 
}

.dark-mode .contact-info p:hover{ 
    color: rgb(0, 32, 63); 
    background-color: rgb(236, 223, 204);
}


.toggle-button {
    width: 50px;
    height: 25px;
    background-color: #ddd;
    border-radius: 25px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    padding: 5px;
    transition: background-color 0.3s ease;
}

.toggle-circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: left 0.3s ease;
}

.toggle-button.dark-mode-active {
    background-color: #000000; 
}

.toggle-button.dark-mode-active .toggle-circle {
    left: 25px; 
}


.header-content {
    display: flex;
    align-items: center;
}

.header-nav-wrap {
    display: flex;
    align-items: center;
}


.dark-mode .hero-social a[href*="linkedin"] img {
    filter: invert(1) hue-rotate(180deg); 
}


.dark-mode .hero-social a[href*="github"] img {
    filter: invert(1); 
}


.dark-mode .hero-social a[href*="scholar"] img {
    filter: invert(1); 
}


.dark-mode .header-logo img {
    filter: invert(1);
}




