<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelaman Moldagali - Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/logo32.jpg?v=2" type="image/jpeg">

</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <a href="index.html">
                    <img src="/static/images/logo.png" alt="Homepage">
                </a>
            </div>
            <div class="header-content">
                <nav class="header-nav-wrap">
                    <ul class="header-nav">
                        <li><a class="smoothscroll" href="#about" title="About">About</a></li>
                        <li><a class="smoothscroll" href="#skills" title="Skills">Skills</a></li>
                        <li><a class="smoothscroll" href="#projects" title="Projects">Projects</a></li>
                        <li><a class="smoothscroll" href="#experience" title="Experience">Experience</a></li>
                        <li><a class="smoothscroll" href="#contact-section" title="Contact">Say Hi</a></li>
                    </ul>
                </nav>
                <button id="toggle-button" class="toggle-button">
                    <span class="toggle-circle"></span>
                </button>
                
            </div>
        </div>
    </header>

    <section id="about" class="about-section">
        <div class="about-container">
            <div class="about-text">
                <h2>Hi! I am Yelaman Moldagali, <br>a software engineer & full-stack developer <br>based in the US.</h2>
            </div>
            <div class="about-image">
                <img src="/static/images/profile.jpg" alt="Yelaman Moldagali" class="profile-image">
            </div>
        </div>
        <div class="contact-social-wrapper">
            <a id="contact" href="mailto:ybmold25@colby.edu" class="contact-button">Contact me</a>
            <ul class="hero-social">
                <li><a href="https://www.linkedin.com/in/yelaman-moldagali/" target="_blank"><img src="/static/images/linkedin.png" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/yelagman" target="_blank"><img src="/static/images/github.png" alt="GitHub"></a></li>
                <li><a href="https://scholar.google.com/citations?user=RcEFO3AAAAAJ&hl=en" target="_blank"><img src="/static/images/scholar.png" alt="Google Scholar"></a></li>
            </ul>
        </div>
    </section>
    
    
    <section id="skills" class="skills-section">
        <h2 class="section-title">Skills</h2>
        <div class="skills-container">
            <div class="skill-card">
                <h3>Programming Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>Kotlin</li>
                    <li>Swift</li>
                    <li>C#</li>
                    <li>C++</li>
                    <li>JavaScript</li>
                    <li>GoLang</li>
                    <li>Swift</li>
                    <li>SQL</li>
                </ul>
            </div>
    
            <div class="skill-card">
                <h3>Web & Mobile Development</h3>
                <ul>
                    <li>React.js</li>
                    <li>Node.js</li>
                    <li>HTML/CSS</li>
                    <li>Jetpack Compose (Android)</li>
                    <li>Firebase</li>
                    <li>Retrofit</li>
                    <li>RESTful API Development</li>
                    <li>Heroku</li>
                    <li>Google Cloud Platform</li>
                </ul>
            </div>
    
            <div class="skill-card">
                <h3>Technologies & Tools</h3>
                <ul>
                    <li>Git</li>
                    <li>Agile & Scrum Methodologies</li>
                    <li>Object-Oriented Design</li>
                    <li>Data Science & Visualization</li>
                    <li>Machine Learning</li>
                    <li>Big Data</li>
                </ul>
            </div>
        </div>
    </section>
    

    <section id="projects" class="projects-section">
        <h2 class="section-title">Projects</h2>
    
        <div class="project-item">
            <div class="project-image">
                <img src="/static/images/eye-tracking.png" alt="Eye Tracking Research Project">
            </div>
    
            <div class="project-details">
                <h3>Eye Tracking Research on Underrepresented Languages</h3>
                <p>This research focuses on building a multilingual eye tracking dataset using PyGaze, aimed at understanding reading comprehension in underrepresented languages like Kazakh, Vietnamese, Urdu, and etc. Presented at ACM Symposium ETRA 2023.</p>
                <p><strong>Technologies used:</strong> Python, PyGaze, Eyelink.</p>
    
                <div class="project-buttons">
                    <a href="#" class="project-btn code-btn">CODE</a>
                    <a href="https://dl.acm.org/doi/10.1145/3588015.3590128" target="_blank" class="project-btn demo-btn">SEE PAPER</a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <div class="project-image">
                <img src="/static/images/camel-app.png" alt="Camel Farm Management Mobile Application">
            </div>
    
            <div class="project-details">
                <h3>Camel Farm Management Mobile Application</h3>
                <p>This mobile app was developed to enhance camel farm management, integrating features like population growth simulation and farm-specific suggestions. The app was tailored to meet the unique needs of camel farmers by collaborating with experts and conducting on-site farm visits in France.</p>
                <p><strong>Technologies used:</strong> Jetpack Compose, Android Studio, Retrofit, Firebase.</p>
    
                <div class="project-buttons">
                    <a href="#" class="project-btn code-btn">CODE</a>
                    <a href="#" class="project-btn demo-btn">SEE DEMO</a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <div class="project-image">
                <img src="/static/images/vr-heading-perception.png" alt="VR Self-Motion and Heading Perception Study">
            </div>
    
            <div class="project-details">
                <h3>VR Self-Motion and Heading Perception Study</h3>
                <p>This project investigates how humans perceive their direction of self-motion (heading) in a virtual reality (VR) environment. The study reconciles conflicting findings on human heading perception errors by comparing three judgment methods: aligning a probe (position-based), pointing with a VR controller (orientation-based), and taking a step in the perceived direction. The experiment was conducted in a realistic outdoor VR environment built using Unity, and pilot data was collected to analyze the artifacts introduced by each judgment method.</p>
                <p><strong>Technologies used:</strong> Unity, VR Development, Data Analysis.</p>
    
                <div class="project-buttons">
                    <a href="#" class="project-btn code-btn">CODE</a>
                    <a href="#" class="project-btn demo-btn">SEE PAPER</a>
                </div>
            </div>
        </div>

        
    </section>
    
    
    <section id="experience" class="experience-section">
        <h2 class="section-title">Experience</h2>
    
        <div class="experience-container">

            <div class="experience-item">
                <div class="experience-content">
                    <h3>Full-Stack Mobile Software Developer</h3>
                    <p class="experience-date">2024 - Present | International Camel Consultant, Montpellier, France</p>
                    <ul>
                        <li>Implemented camel management app using Jetpack Compose, utilized by 10+ farmers.</li>
                        <li>Integrated Retrofit for API calls, Firebase for data storage and user authentication.</li>
                        <li>Applied Agile principles to refine the app's UI, incorporating feedback from camel experts.</li>
                    </ul>
                </div>
            </div>

            <div class="experience-item">
                <div class="experience-content">
                    <h3>Eye Tracking Research Assistant</h3>
                    <p class="experience-date">2022 - Present | Colby College, Waterville, Maine</p>
                    <ul>
                        <li>Published paper at ACM Symposium ETRA 2023, most prestigious eye tracking conference.</li>
                        <li>Developed multilingual eye tracking stimuli.</li>
                        <li>Conducted 20+ eye tracking experiments on reading comprehension in 10+ languages.</li>
                    </ul>
                </div>
            </div>
    
            <div class="experience-item">
                <div class="experience-content">
                    <h3>Virtual Reality Research Assistant</h3>
                    <p class="experience-date">2023 - 2023 | Colby College, Waterville, Maine</p>
                    <ul>
                        <li>Designed eco-valid Unity VR environment using OpenXR to assess self-motion perception.</li>
                        <li>Collected and analyzed data from 3 subjects, challenging previous research findings.</li>
                        <li>Presented findings at Colby Undergraduate Summer Research Retreat.</li>
                    </ul>
                </div>
            </div>
    
            <div class="experience-item">
                <div class="experience-content">
                    <h3>Computer Science Teaching Assistant</h3>
                    <p class="experience-date">2022 - Present | Colby College, Waterville, Maine</p>
                    <ul>
                        <li>Supported 50+ students with weekly computer science assignments on Python and Java.</li>
                        <li>Guided students on good programming practices and debugging techniques.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="contact-section" class="contact-section">
        <h2>Say Hi!</h2>
        <p>If you’re looking to fill a position, have any questions, or just want to chat, I’d love to hear from you! Please don’t hesitate to get in touch!</p>
        </div>
        <div class="contact-social-wrapper">
            <a id="contact" href="mailto:ybmold25@colby.edu" class="contact-button">ybmold25@colby.edu</a>
            <ul class="hero-social">
                <li><a href="https://www.linkedin.com/in/yelaman-moldagali/" target="_blank"><img src="/static/images/linkedin.png" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/yelagman" target="_blank"><img src="/static/images/github.png" alt="GitHub"></a></li>
                <li><a href="https://scholar.google.com/citations?user=RcEFO3AAAAAJ&hl=en" target="_blank"><img src="/static/images/scholar.png" alt="Google Scholar"></a></li>
            </ul>
        </div>
    </section>
    
    

    <script src="/static/app.js"></script>
</body>
</html>