<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelaman Moldagali - Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        
        <div class="header-logo">
            <a href="index.html">
                <img src="/static/images/logo.png" alt="Homepage" style="max-width: 5%; height: auto;">
            </a>
        </div>

        <div class="header-content">
            <nav class="row header-nav-wrap">
                <ul class="header-nav">
                    <li><a class="smoothscroll" href="#hero" title="Intro">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">About</a></li>
                    <li><a class="smoothscroll" href="#skills" title="Skills">Skills</a></li>
                    <li><a class="smoothscroll" href="#projects" title="Projects">Projects</a></li>
                    <li><a class="smoothscroll" href="#projects" title="Contact">Say Hello</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about">
        <h2>Hey there 👋 <br>
            I am Yelaman Moldagali, <br>
            a software engineer <br>
            & full stack developer based in US.
        </h2>

        <img src="/static/images/profile.jpg" alt="hello" style="max-width: 10%; height: auto; border-radius: 50%;">
        <p><a id="contact" href="mailto:ybmold25@colby.edu" style="text-decoration: none; padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px;">Contact me</a></p>
        <ul class="hero-social">
            <li><a href="https://www.linkedin.com/in/yelaman-moldagali/" target="_blank" title="">LinkedIn</a></li>
            <li><a href="https://github.com/yelagman" target="_blank" title="">Github</a></li>
            <li><a href="https://scholar.google.com/citations?user=RcEFO3AAAAAJ&hl=en" target="_blank" title="">Google Scholar</a></li>
        </ul> 

    </section>


    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: Python, JavaScript, Java</li>
            <li>Web Development: HTML, CSS, React</li>
            <li>Database Management: MySQL, MongoDB</li>
        </ul>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1</h3>
            <p>Description of project 1.</p>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <p>Description of project 2.</p>
        </div>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Email: ybmold25@colby.edu</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/yelaman-moldagali/" target="_blank"> linkedin.com/in/yelaman</a></p>
    </section>
</body>
</html>